<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="测试报告" parallel="false">
	<test name="登录的测试报告">  <!--test name 定义测试名称 -->
		<parameter name="browers" value="Chrome">      <!-- 浏览器配置 -->
			<classes>
				<class name="cn.creditall.Test.Testlogin" />
			</classes>
		</parameter>
	</test>
	<test name="用户投资的测试报告">  <!--  test name 定义测试名称-->
		<parameter name="browers" value="Chrome">     <!--  浏览器配置 -->
			<classes>
				<class name="cn.creditall.Test.TestInvest" />
			</classes>
		</parameter>
	</test>

</suite> <!-- Suite -->